---
import About from "../components/About.astro"
import Hero from "../components/Hero.astro"
import Projects from "../components/Projects.astro"
import Layout from "../layouts/Layout.astro"
import BackToTop from "../components/ui/BackToTop.astro"
import Contact from "../components/Contact.astro"
import Skills from "../components/Skills.astro"
import Navbar from "../components/Navbar.astro"
---

<Layout>
  <main>
    <Navbar />
    <Hero />
    <Skills />
    <About />
    <Projects />
    <Contact />
    <BackToTop />
  </main>
</Layout>
