---
import LearningPath from "../components/LearningPath.tsx"
import Hero from "../components/Hero.astro"
import Projects from "../components/Projects.astro"
import Layout from "../layouts/Layout.astro"
import BackToTop from "../components/ui/BackToTop.astro"
import Contact from "../components/Contact.astro"
import Skills from "../components/Skills.tsx"
import Navbar from "../components/Navbar.astro"
import Frontend from "../components/Frontend"
---

<Layout>
  <main>
    <Hero />
    <Skills client:load />
    <Frontend />
    <LearningPath />
    <Projects />
    <Contact />
    <BackToTop />
  </main>
</Layout>
