<section
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row px-3"
>
  <div
    class="moveable-text mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
  >
    <h2 class="text-2xl lg:text-4xl text-yellow-600 font-semibold">About me</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-yellow-500"></span>
  </div>

  <div class="moveable-text w-full text-justify lg:w-1/2 leading-8">
    <p class="mb-2">
      Creating basic web pages for small businesses or for your personal
      projects like portfolios, hobbies and more.
      <br />
       Open for collaborations.
      <!-- Selt-taught js web developer, big dream is to become one of the best in
      the world.
      <br />
       After graduating high school I started college which I didn't enjoy so
      much when 2 years passed I found a job and totally fall in love with it.
      My commitment to work led to leaving college and that was the beginning of
      full time employment status. 7 years later on the same job, I achieved all
      objectives I could, so with lack of challenges and lack of motivation I
      have found a new passion - web developing. Few months later I left my job
      and dedicated myself to studying 24/7.
      <br />
       Today I feel that I reached a level where I can contribute and share my
      passion with other developers. This is just the beginning of my journey
      and I am looking forward to all tech challenges that are waiting for me. -->
    </p>
  </div>
</section>

<style>
  .moveable-text {
    transition: transform 0.6s ease-in-out;
  }

  .moveable-text:hover {
    transform: translateY(20px);
  }
</style>
