<footer class="p-6 text-center text-sm">
  <p>
    Copyright © 2023. All rights reserved. Made by <a
      href="https://github.com/CroFrank"
      target="_blank"
      rel="noopener"
    >
      <span class="text-yellow-700">Fran Branković</span>
    </a>
  </p>
</footer>
