---
import { Image } from "astro:assets"
import profileImage from "../assets/Fran.jpg"
---

<section
  class="flex lg:h-screen flex-col-reverse items-center justify-center text-center lg:flex-row gap-2 mb-10"
>
  <div class="mb-10 flex w-1/2 items-center justify-center lg:order-2">
    <Image
      src={profileImage}
      alt="photo of Fran Branković"
      format="jpg"
      width={500}
      height={600}
      loading="eager"
      class="rounded-lg shadow-2xl shadow-yellow-600"
    />
  </div>
  <div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
    <div>
      <h1 class="mb-10 text-3xl dark:text-white lg:text-5xl">
        I am full-stack, javascript web developer <br /><span
          class="text-yellow-700 font-semibold">Fran Branković</span
        ><br />
         and welcome to my portfolio web page.
      </h1>
    </div>
    <div class="mb-10">
      <a
        href="/contact"
        class="bg-yellow-700 text-white hover:bg-yellow-600 hover:text-black rounded-xl text-center py-3 px-4"
      >
        Contact Me</a
      >
    </div>
  </div>
</section>
