---
const menuitems = [
  {
    title: "About",
    path: "#about",
  },
  {
    title: "Projects",
    path: "#projects",
  },
  {
    title: "Contact",
    path: "#contact",
  },
]
---

<nav
  class="bg-transparent p-5 flex flex-col items-center gap-5 sm:flex-row sm:justify-between mb-20"
>
  <div class="flex items-center space-x-4 sm:order-2">
    {
      menuitems.map((item) => (
        <a
          aria-label="navigation link"
          href={item.path}
          class="lg:px-3 text-lg hover:underline hover:text-xl"
        >
          {item.title}
        </a>
      ))
    }
  </div>
  <div class="flex items-center">
    <a
      href="/cv/Fran Brankovic - CV.pdf"
      download="Fran Brankovic - CV.pdf "
      class="bg-yellow-700 text-white hover:bg-yellow-600 hover:text-black rounded-xl text-center py-3 px-4"
    >
      Download CV
    </a>
  </div>
</nav>
