---
import { Image } from "astro:assets"
---

<div class="bg-white rounded-xl flex justify-between gap-6 py-2 px-3 sm:gap-16">
  <a
    href="https://github.com/CroFrank"
    target="_blank"
    rel="noopener"
    aria-label="github"
    class="hover:scale-105"
    ><Image
      class="h-8 md:h-12"
      src="/github.svg"
      alt="A bird."
      width="50"
      height="50"
    /></a
  >
  <a
    href="https://www.linkedin.com/in/fran-brankovi%C4%87-a22895265/"
    target="_blank"
    rel="noopener"
    aria-label="linkedin"
    class="hover:scale-105"
    ><Image
      class="h-8 md:h-12"
      src="/linkedin.svg"
      alt="A bird."
      width="50"
      height="50"
    /></a
  >
</div>
